.questions {
    background-image: radial-gradient(37.71% 38.84% at 85.52% 60.57%, #9C511E 0%, #491F0B 100%);
    background-repeat: no-repeat;
    /* background-position: -100px, center; */
    position: relative;
    overflow: hidden;
}

.questions__container{
    position: relative;
}

.questions__block {
    padding: 93px 38px 62px 38px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 491px;
    margin-left: auto;
    position: relative;
    top: -38px;
}

.questions__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 37px;
}

.questions__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    margin-bottom: 40px;
}

.messenger {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: #E9D4B4;
    border-radius: 50%;
}

.messenger img {
    width: 45px;
    height: 45px;
}

.questions__text--call {
    margin: 50px 0 50px 0
}

.tel {

    background-color: #E9D4B4;
    border: 0;
    border-radius: 17px;
    font-weight: 300;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: #B77438;
}

.questions__tel-input {
    width: 200px;
}

.tel::placeholder {
    color: #B77438;
}

#question-button {
    width: auto;
    margin-left: 40px;
    padding-inline: 20px;
}


.questions-background {
    position: absolute;
    height: 100%;
    width: 1920px;
    overflow: visible;
    left: -506px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/upload/src/question.png");
}

.questions__messengers {
    display: flex;
    justify-content: center;
    gap: 57px;
}

@media (max-width: 1060px) {
    .questions {
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 11rem;
        background-image: url("/upload/src/question.png"), radial-gradient(81.37% 81.37% at 40.36% 19.9%, #B77438 0%, #B77438 15.44%, #9A5A28 38.54%, #642A0C 100%);
    }
    .questions__messengers {
        justify-content: center;
        gap: 15rem;
    }


    .questions__block {
        padding: 40rem 0 0 0;
        width: 100rem;
        margin-left: auto;
        position: static;
        top: 0;
        background-color: transparent;
    }

    .questions__title {
        font-weight: 500;
        font-size: 6.3rem;
        line-height: 8.6rem;
        padding: 13rem 4.5rem;
        background-color: rgba(79, 32, 10, 0.5);
        width: 73rem;
        box-sizing: border-box;
        margin: 0;
    }

    .questions__text {
        /* font-weight: 400; */
        font-size: 3.6rem;
        line-height: 5.4rem;
        margin: 6.2rem 15rem 6.2rem 5.2rem;
    }

    .messenger {
        /* display: flex; */
        width: 12rem;
        background-color: #E9D4B4;
        border-radius: 12rem;
        height: 12rem;
        /* font-weight: 300; */
        /* font-size: 4rem; */
        /* line-height: 7.4rem; */
        /* text-align: center; */
        /* margin: 0 4rem; */
    }

    .messenger img {
        width: 9rem;
        height: 9rem;
    }

    .messenger.mobile {
        display: flex;
    }

    .questions__text--call {
        /* margin: 50px 0 50px 0; */
        /* font-size: 4rem; */
        /* line-height: 5.4rem; */
        /* margin: 6.2rem 15rem 6.2rem 5rem; */
    }

    .tel {

        background-color: #E9D4B4;

        border: 0;

        /* width: auto!important; */

        border-radius: 12rem;

        font-weight: 300;

        font-size: 5rem;

        line-height: 8rem;

        text-align: center;

        color: #B77438;

        display: block;

        margin-inline: auto;

        width: 70rem !important;

        font-family: 'oswald', serif;

    }

    .questions__tel-input {
        width: 60rem!important;
    }

    .tel::placeholder {
        color: #B77438;
    }

    #question-button {
        margin: 5rem auto;
        font-size: 5rem;
        height: auto;
        line-height: 8rem;
        border-radius: 12rem;
        /* padding-inline: 2rem; */
        display: block;
        width: 60rem;
    }


    .questions-background {
        display: none;
    }

}

