.shipment {
    padding: 202px 0 116px 0;
    background-image: radial-gradient(111.77% 111.77% at 61.15% 88.1%, #B77438 11.79%, #9A5A28 38.54%, #642A0C 100%);
}
.shipment__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 45px;
    /* identical to box height, or 107% */
    color: #EAD6B7;
    text-align: center;
    margin-bottom: 77px;
}

.shipment__text-block {
    display: flex;
    flex-flow: row nowrap;
    gap: 54px;
}

.shipment__text {
    background-color: rgba(80, 20, 0, 0.5);
    padding: 38px 25px 65px 52px;
    font-size: 20px;
    line-height: 50px;
    width: 100%;
}

.shipment__text-bottom {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 29px 0 50px 0;
}

.shipment__img-block {
    position: relative;
    height: 515px;
}

.shipment__img-block .shipment-img {
    position: absolute;
}

.shipment__comment {
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 66px;
    text-align: center;
}
img.shipment-img.shipment-img__1 {
    left: 0;
    top: 0;
    width: 568px;
    height: 515px;
}

img.shipment-img.shipment-img__3 {
    left: 740px;
    top: 90px;
    width: 331px;
    height: 354px;
}

img.shipment-img.shipment-img__2 {
    left: 490px;
    top: 54px;
    width: 331px;
    height: 354px;
}
@media (max-width:1060px){
    .shipment {
        padding: 10rem 0 7.3rem 0;
        background-image: radial-gradient(111.77% 111.77% at 61.15% 88.1%, #B77438 11.79%, #9A5A28 38.54%, #642A0C 100%);
    }
    .shipment__container {
        overflow: hidden;
    }

    .shipment__title {
        /* font-weight: 500; */
        font-size: 6rem;
        line-height: 7.3rem;
        /* identical to box height, or 107% */
        /* color: #EAD6B7; */
        text-align: left;
        margin-bottom: 7.2rem;
        margin-left: 5rem;
        width: 69rem;
    }

    .shipment__text-block {
        display: block;
        flex-flow: row nowrap;
        gap: 54px;
    }

    .shipment__text {
        /* background-color: rgba(0, 0, 0, 0.4); */
        padding: 10rem 14rem 6rem 7.5rem;
        font-size: 4rem;
        line-height: 6.6rem;
        width: 78rem;
        box-sizing: border-box;
        /* mix-blend-mode: multiply; */
    }

    .shipment__text:first-of-type {
        padding-bottom: 0;
    }

    .shipment__text:last-of-type {
        padding-bottom: 15rem;
    }

    .shipment__text-bottom {
        font-size: 4rem;
        line-height: 6.6rem;
        margin: -6rem 0 8rem 37rem;
        padding: 12rem 2rem 12rem 4rem;
        box-sizing: border-box;
        text-align: left;
        background-color: rgba(80, 20, 0, 0.5);
    }

    .shipment__img-block {
        position: relative;
        height: 143rem;
    }

    .shipment__img-block .shipment-img {
        position: absolute;
    }

    .shipment__comment {
        /* font-weight: 300; */
        font-size: 6rem;
        line-height: 8rem;
        margin-bottom: 66px;
        text-align: center;
    }
    img.shipment-img.shipment-img__1 {
        left: 11rem;
        top: 6rem;
        width: 84rem;
        height: 77rem;
    }

    img.shipment-img.shipment-img__3 {left: 39rem;top: 81rem;width: 57.8rem;height: 61.8rem;z-index: 2;}

    img.shipment-img.shipment-img__2 {
        left: 4rem;
        top: 66rem;
        width: 57.8rem;
        height: 61.8rem;
        z-index: 1;
    }

}