form.offer__grid {
    display: grid;
    grid-template-columns: 572px 1fr;
    grid-template-rows: min-content 397px;
    grid-column-gap: 42px;
    margin-top: 70px;
}

.offer-items__image {
    width: auto!important;
}

.offer {
    background-image: radial-gradient(81.37% 81.37% at 40.36% 19.9%, #B77438 0%, #B77438 15.44%, #9A5A28 38.54%, #642A0C 100%);
    color: #EAD6B7;
    padding-top: 110px;
    padding-bottom: 184px;
}

.offer-items__name {
    font-weight: bold;
    display: inline-block;
    /* width: 172px; */
    font-size: 26px;
    /* padding-left: 50px; */
    white-space: nowrap;
}

span.offer-items__old-price {
    text-decoration: line-through;
    display: inline-block;
    /* width: 137px; */
    font-size: 20px;
    font-weight: 300;
}


span.offer-items__price {
}

span.offer-items__price {
    display: inline-block;
    font-size: 20px;
}

label {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 23px;
}

.offer-image {
    width: 257px;
    height: 945px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
}

.offer-image img {
    width: 346px;
    height: 1273px;
}

.offer-sum > * {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    margin: 0;
    /* height: 60px; */
    width: 100%;
    box-sizing: border-box;
}

.offer input[type=radio],
.offer input[type=checkbox]{
    display: none;
}

.offer label {
    position: relative;
    display: block;
    padding-left: 93px;
}

.offer label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 19px;
    position: absolute;
    left: 42px;
    top: 2px;
    border: 4px #E9D4B4 solid;
    background-color: unset;
}

.offer input[type=radio]:checked + label:before,
.offer input[type=checkbox]:checked + label:before{
    background-color: #E9D4B4;
}

.offer-sum {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px;
}

span.offer-sum__price {
    FONT-WEIGHT: 800;
    font-size: 40px;
    margin: 10px 0 25px 0;
}

.offer-sum__client {
    height: 42px;
    width: 483px;
    margin-bottom: 13px;
    border-radius: 30px;
    border: 0;
    background-color: #EAD6B7;
    padding-left: 21px;
    box-sizing: border-box;
    font-size: 20px;
}

.offer-sum__client::placeholder {

    color: #B77438;
}

button.offer-sum__submit {
    width: 483px;
    height: 60px;
    border-radius: 30px;
    background-color: #E9D4B4;
    color: #B77438;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    border: 0;
    cursor: pointer;
}


.offer-items__item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 136px;
    padding: 15px 15px 0 21px;
}

img.offer-arrow {
    top: 50px;
    filter: brightness(3);
    height: 66px;
    width: 17px;
}

img.offer-arrow.prev {
    left: -42px;
}

img.offer-arrow.next {
    right: -42px;
}

.offer-items__slider {
    margin-top: 60px;
}

.offer-items__slider .owl-dots button.owl-dot {
    height: 15px;
    width: 15px;
    /* text-align: center; */
    background-color: #E9D4B4;
    border-radius: 50%;
}

.offer-items__slider .owl-dots button.owl-dot.active {
    background-color: #521001;
}

.owl-dots {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 24px;
}
.offer__title {
    font-size: 42px;
}

.offer-items__title {
    font-size: 30px;
    margin-bottom: 42px;
}

.offer-items__item-name {
    font-size: 20px;
    color: #521001;
    cursor: pointer;
}

.offer-items__item-price {
    font-size: 15px;
    color: #521001;
}


.offer-items__item label:before {
    left: -228px;
    top: 88px;
    border: 2px rgba(82, 16, 1, 1) solid;
}

.offer .offer-items__item input[type=radio]:checked + label:before,
.offer .offer-items__item input[type=checkbox]:checked + label:before{
    background-color: rgba(82, 16, 1, 1);
}

.hero-card {
    width: 1050px;
    background-color: rgba(234, 214, 183, 1);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* overflow: scroll; */
    box-sizing: border-box;
    z-index: 200;
}

.hero-card__title {
    font-weight: 800;
    font-size: 35px;
    line-height: 45px;
    /* or 129% */
    color: #4F210C;
}

.hero-text__image {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 500px;
    background-size: contain;
    margin: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text__button {
    grid-column: 2;
    grid-row: 4;
    width: 287px;
    /* height: 35px; */
    background: #873904;
    border-radius: 18px;
    text-align: center;
    color: #E9D4B4;
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    margin-left: auto;
    cursor: pointer;
    /* overflow: scroll; */
}

.hero-card__close {
    position: absolute;
    right: 37px;
    top: 27px;
    font-size: 35px;
    font-weight: 800;
    color: rgba(100, 50, 21, .4);
    cursor: pointer;
}

.hero-text__text {
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    color: #4F210C;
}


@media (max-width: 1060px) {
    form.offer__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-column-gap: 0;
        /* margin-top: 04rem; */
        /* margin-left: 5.6rem; */
        margin: 4rem 0 2rem auto;
    }

    .offer-items__image {
        width: auto!important;
    }

    .offer {
        /* background-image: radial-gradient(55.62% 47.08% at 35.73% 55.25%, #9C511E 0%, #491F0B 100%); */
        /* color: #EAD6B7; */
        padding-top: 0;
    }

    .offer-items__name {
        font-weight: bold;
        display: inline-block;
        width: auto;
        font-size: 4rem;
        padding-left: 7rem;
        /* line-height: 5rem; */
        white-space: normal;
    }

    .offer-items__name:after {
        /* content: '|'; */
    }

    span.offer-items__old-price:before {
        display: none;
        /* content: '|'; */
        /* padding-right: 20px; */
        /* font-weight: 100; */
        /* text-decoration: line-through; */
        /* text-decoration: none; */
    }

    span.offer-items__old-price {
        text-decoration: line-through;
        /* display: block; */
        width: auto;
        font-size: 2.6rem;
        font-weight: 300;
    }

    span.offer-items__old-price {
        padding-left: 3.5rem;
        font-size: 3.4rem;
        font-weight: 100;
        opacity: 0.7;
    }

    span.offer-items__price:before {
        display: none;
        content: '|';
        padding-right: 20px;
    }

    span.offer-items__price {
    }

    span.offer-items__price {
        /* display: block; */
        font-size: 3.5rem;
        padding-left: 7rem;
        line-height: 1rem;
    }

    span.offer-items__price .mas-bold {
        font-weight: 300;
    }

    label {
        font-size: 2.7rem;
        line-height: 4.5rem;
    }

    .offer-image {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: 1;
        position: relative;
        height: 37rem;
    }

    .offer-image img {

        width: 27rem;

        height: 100rem;

        position: absolute;

        top: -59rem;

        left: 45rem;

    }

    .offer-sum > * {
        /* margin-top: 20px; */
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        /* grid-row: 1; */
    }

    .offer input[type=radio] {
        display: none;
    }

    .offer label {
        position: relative;
        padding-left: 0;
    }

    .offer label:before {
        content: "";
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 2.6rem;
        position: absolute;
        left: 0;
        top: .3rem;
        border: 4px #E9D4B4 solid;
        background-color: unset;
    }

    .offer input[type=radio]:checked + label:before,
    .offer input[type=checkbox]:checked + label:before{
        background-color: #E9D4B4;
    }

    .offer-sum {
        background-color: transparent;
        /* padding: 40px; */
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        /* flex-flow: row wrap; */
    }

    span.offer-sum__price {
        /* FONT-WEIGHT: 800; */
        font-size: 7rem;
        /* margin: 10px 0 25px 0; */
        justify-content: start;
    }

    .offer-sum__client {
        height: 9rem;
        width: 90rem;
        margin-bottom: 9rem;
        border-radius: 5rem;
        border: 0;
        background-color: #EAD6B7;
        /* padding-left: 0; */
        box-sizing: border-box;
        font-size: 3rem;
        text-align: left;
        padding-left: 4rem;
    }

    .offer-sum__client::placeholder {

        color: #B77438;
    }

    button.offer-sum__submit {
        width: 45rem;
        height: 10rem;
        border-radius: 5rem;
        background-color: rgba(82, 16, 1, 1);
        color: #EAD6B7;
        text-transform: none;
        font-size: 4rem;
        /* font-weight: 800; */
        /* border: 0; */
    }

    .offer-items__item {
        display: flex;
        justify-content: space-between;
        background-color: white;
        height: 136px;
        padding: 15px 15px 0 21px;
    }

    img.offer-arrow {
        top: 50px;
        filter: brightness(3);
        height: 66px;
        width: 17px;
    }

    img.offer-arrow.prev {
        left: -42px;
    }

    img.offer-arrow.next {
        right: -42px;
    }

    .offer-items__slider {
        margin-top: 60px;
    }

    .offer-items__slider .owl-dots button.owl-dot {
        height: 15px;
        width: 15px;
        /* text-align: center; */
        background-color: #E9D4B4;
        border-radius: 50%;
    }

    .offer-items__slider .owl-dots button.owl-dot.active {
        background-color: #521001;
    }

    .offer-items {
        width: 68rem;
        grid-column: 1;
        margin-left: 5rem;
    }

    .owl-dots {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 24px;
    }
    .offer__title {
        padding: 21.6rem 28.7rem 15.4rem 5rem;
        width: 71rem;
        box-sizing: border-box;
        background-color: rgba(74, 22, 0, 0.7);
        position: relative;
        top: -8.5rem;
        font-size: 5rem;
    }

    .offer-items__title {
        display: none;
    }

    .offer-items__item-name {
        font-size: 20px;
        color: #521001;
    }

    .offer-items__item-price {
        font-size: 15px;
        color: #521001;
    }

    .input-container.name {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .input-container.phone {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .input-container.email {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .offer-sum__title {
        grid-column: 1;
        text-align: left;
        justify-content: start;
        font-size: 3rem;
        opacity: 0.8;
    }

    .offer-sum__price {
        grid-column: 1;
    }

    .input-container.submit {
        grid-column: 2;
        justify-content: right;
        grid-row-start: 4;
        grid-row-end: 6;
    }


    .hero-card {
        width: 100rem;
        padding: 6.6rem;
        display: block;
    }

    .hero-card__title {
        font-size: 4.6rem;
        line-height: 6rem;
    }

    .hero-text__image {
        height: 94rem;
    }

    .hero-text__button {
        width: 53.3rem;
        height: 8.6rem;
        border-radius: 4rem;
        font-size: 4rem;
        line-height: 8rem;
        margin-left: auto;
        margin-top: 7rem;
    }

    .hero-text__text {
        font-size: 3.3rem;
        line-height: 6rem;
    }

}
