.opt-catalog__container {
    padding-bottom: 61px;
}


.opt-catalog__title {
    text-align: center;
    margin: 65px 0;
}

.catalog-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 16px 32px;
}

.catalog-list__item-img {
    position:absolute;
    max-height: 150px;
    bottom: 20px;
    right: 11px;
}

.catalog-list__item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    display: block;
    z-index: 1;
    position: absolute;
    width: 170px;
    bottom: 15px;
    color: black;
}

.catalog-list__item {
    position: relative;
    padding: 15px 10px;
    background: #CDC9C9;
    width: 337px;
    height: 192px;
    box-sizing: border-box;
}

.catalog-list__item:before {
    content: " ";
    display: block;
    position: absolute;
    right: 9px;
    bottom: 17px;
    background-color: white;
    height: 160px;
    width: 160px;
    border-radius: 80px;
}

.brands-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1080px){
    .opt-catalog {
        margin: 0 3rem;
    }

    .opt-catalog__title {
        font-size: 5rem;
        text-align: center;
        width: 100%;
        margin: 13rem 0;
    }

    .catalog-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .catalog-list a:first-of-type {
        grid-column-start:1;
        grid-column-end:3;
    }

    .catalog-list__item {
        width: auto;
        height: 63rem;
        padding: 2rem;
    }

    .catalog-list__item-img {
        max-height: 35rem;
        max-width: 35rem;
        top: 22rem;
        right: -11rem;
        transform: translate(-50%, -50%);
    }

    .catalog-list a:first-of-type div {

        height: 50rem;
        padding: 4rem;
        margin-bottom: 5rem;
    }

    .catalog-list a:first-of-type .catalog-list__item-img{

        max-height: 34rem;
        bottom: 10rem;
        right: 4rem;
        top: 22rem;
        right: -13rem;
    }

    .catalog-list__item-name {
        font-size: 3.8rem;
        text-align: center;
        line-height: unset;
        width: 39rem;
        left: 3rem;
        top: 43rem;
        font-weight: 500;
    }
    .catalog-list a:first-of-type .catalog-list__item-name{font-size: 5.8rem;width: 50rem;top: 24rem;bottom: 6rem;text-align: left;}

    .catalog-list__item:before {
        right: 8rem;
        top: 6rem;
        height: 30rem;
        width: 30rem;
        border-radius: 18rem;
    }

    .catalog-list a:first-of-type .catalog-list__item:before {
        right: 4rem;
        bottom: 6rem;
        height: 32rem;
        width: 32rem;
        border-radius: 20rem;
    }


    .brands-list {
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 9rem;
    }

    .brands-list__item {
        max-height: 27rem;
        max-width: 27rem;
        width: max-content;
        height: max-content;
    }

    .opt-catalog__button.opt-button {
        width: 80rem;
        margin: 8rem auto 4rem auto;
        box-sizing: border-box;
        height: unset;
        border: none;
        background-color: var(--main-dj-color);
        color: white;
        border-radius: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-size: 4rem;
    }
}