.choice {
    padding-top: 224px;
    position: relative;
    background-position: center;
    background-size: 2600px;
}

.choice__container {
    position: relative;
}

.choice__arrow-img{
    position: absolute;
    left: 62px;
    top: -150px;
}


.choice__text-block {
    width: 434px;
    background-color: rgba(74, 31, 11, 0.8);
    padding: 0 40px 0 72px;
    margin-left: auto;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 45px;
}

.choice__text-block__1 {
    padding-top: 111px;
    padding-bottom:49px;
}

.choice__text-block__2 {
    padding-bottom: 70px;
}

.choice__title {
    font-size: 32px;
    line-height: 33px;
}

.choice__title b {
    font-size: 40px;
}

.choice__list {
    margin: 0;
    font-size: 20px;
    line-height: 33px;
}

.choice__list li:not(li:last-child) {
    padding-bottom: 23px;
}

@media (max-width: 1060px) {
    .choice {
        height: 161rem;
        padding: 0;
        background-size: cover;
        background-position: left;
    }

    .choice__title {
        font-size: 5.3rem;
        line-height: 6rem;
    }

    .choice__title b {
        font-size: 5.3rem;
        line-height: 6rem;
    }

    .choice__text-block {
        width: 71rem;
        background-color: rgba(74, 31, 11, 0.8);
        margin-left: auto;
        box-sizing: border-box;
        position: absolute;
    }


    .choice__text-block__1 {
        padding: 8.6rem 15rem 5rem 5rem;
        font-size: 5.3rem;
        line-height: 6rem;
        top: -18rem;
    }


    .choice__text-block__2 {
        padding: 5.2rem 4.1rem 6.3rem 5rem;
        bottom: -193rem;
    }

    .choice__list {
        font-size: 4rem;
        line-height: 4.8rem;
    }

    .choice__arrow-img {
        top: 23rem;
        left: 13rem;
        height: 15rem;
        width: 15rem;
    }
}