.about {
    padding-top: 89px;
    background-color: #521001;
}

.about__container {
    display: flex;
    justify-content: space-between;
    gap: 46px;
}

.about__text-block {
    width: 560px;
    padding-left: 34px;
    padding-right: 157px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: -60px;
}

.about__title {
    font-size: 42px;
    margin: 75px 0 37px 0;
    font-weight: 500;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.about__img {
    margin-top: 60px;
    margin-bottom: 145px;
}

@media (max-width: 1060px) {
    .about {
        padding-top: 107rem;
        position: relative;
        background: radial-gradient(81.37% 81.37% at 40.36% 19.9%, #B77438 0%, #B77438 15.44%, #9A5A28 38.54%, #642A0C 100%);
    }

    .about__container {
        display: block;
    }

    .about__text-block {
        width: 100rem;
        padding: 0;
        box-sizing: border-box;
        position: static;
        background-color: transparent;
    }

    .about__title {
        font-size: 6rem;
        padding: 17.7rem 41rem 5rem 5rem;
        background-color: rgba(74, 22, 0, 0.7);
        margin: 0 32rem 12.7rem 0;
        position: relative;
        top: -5rem;
    }

    .about__text {
        font-weight: 400;
        font-size: 4rem;
        line-height: 6rem;
        padding: 0 4rem 20rem 4rem;
    }

    .about__img {
        margin: 0;
        position: absolute;
        top:0;
        left:0;
        width: 100rem;
        height: auto;
    }
}