
.features {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 780px;
}
.features__container {
    display: flex;
    justify-content: flex-start;
}

.features__title {
    color: #E9D4B4;
    margin: 0;
    font-size: 40px;
    line-height: 45px;
}

.features__list {
    background-color: rgba(88, 40, 15, 0.7);
    position: relative;
    padding: 54px 52px 125px 55px;
    flex-basis: 490px;
    box-sizing: border-box;
    margin-top: 55px;
    top: 50px;
    list-style: url(/src/li-mark.svg);
    color: #E9D4B4;
    line-height: 24px;
    font-size: 22px;
}

.features__list .list li {
    margin-bottom: 13px;
    padding-left: 35px;
    line-height: 32px;
}
ul.features__block-list.list li:before {top: 0;}


@media (max-width: 1060px) {
    .features__block-list {
        margin-top: 7rem;
    }
    .features {
        height: 200rem;
        background-size: cover;
    }
    .features__title{
        font-size: 6rem;
        line-height: 7rem;
        margin-bottom: 6rem;
    }

    .features__list {
        font-size: 4rem;
        line-height: 4.7rem;
        font-weight: 500;
        margin-top: 0;
        width: 53rem;
        top: -15rem;
        padding: 28rem 2rem 3rem 6rem;
    }

    .features__container {
        height: 200rem;
        display: block;
    }

    .features__list .list li {
        font-size: 3.6rem;
        line-height: 4.5rem;
        padding-left: 6rem;
        margin-bottom: 2.5rem;
    }



}