body {
    margin: 0;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body a{
    text-decoration: none;
}
header {
    background-color: #642A0C;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu.desktop a {
    text-decoration: none;
    color: #E9D4B4;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1060px;
    height: 105px;
    margin: auto;
    gap: 33px;
}

.header-logo {
    width: 208px;
    height: 33px;
}

.menu {
    display: inline-flex;
    gap: 33px;
    padding: 0;
    list-style-type: none;
    color: #E9D4B4;
    text-transform: uppercase;
}

.menu li {
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    white-space: nowrap;
}

.button {
    background: #E9D4B4;
    border-radius: 17px;
    text-align: center;
    color: #521001;
    width: 287px;
    height: 35px;
    border: 0;
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    position: relative;
    top: 2px;
    cursor: pointer;
}
main {
    margin-top: 100px;
}
.radial {
    background: radial-gradient(50% 50% at 50% 50%, #B77438 0.52%, #9A5A28 38.54%, #642A0C 100%);
}

.container {
    width: 1060px;
    margin: auto;
    /* overflow: hidden; */
}

.hero-text {
    color: #EAD6B7;
}

.mas-bold {
    font-weight: 800;
}

ul.list {
    padding-left: 0;
    list-style: none;
    margin-left: 0;
}

.list li {
    position: relative;
    padding-left: 1.3em;
}

.list li::before {
    content: ' ';
    background: url(/upload/src/li-mark.svg) center/contain no-repeat;
    display: block;
    position: absolute;
    width: 0.55em;
    left: 0;
    top: 0.3em;
    height: 1em;
}

img.next,
img.prev {
    position: absolute;
    top: 0;
}

img.next {
    right: 0;
}

img.prev {
    left: 0;
    transform: scale(-1, 1);
}

.popup-phone, .popup-thanks {
    z-index: 10;
    width: 517px;
    height: 243px;
    background-color: rgba(34, 11, 0, 0.9);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    text-align: center;
    box-sizing: border-box;
}

.popup-thanks {
    font-size: 22px;
}

.popup-phone .tel {
    width: 287px;
}

.popup-phone > * {
    display: block;
}

.mobile {
    display: none
}

footer {
    background-color: rgba(82, 16, 1, 1);
    text-align: center;
    padding: 70px 0 70px 0;
}

.footer-phone.hero-text {
    font-weight: 500;
    font-size: 31px;
}

.footer-marketplaces {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 50px 0 79px 0;
}

span.footer-marketplace__item {
    background: #B77438;
    border-radius: 29px;
    font-size: 29px;
    line-height: 55px;
    text-align: center;
    color: #521001;
    padding-inline: 20px;
}

.footer-info.hero-text {
    font-size: 19px;
    line-height: 34px;
    text-align: center;
    color: #9A5A28;
}

.show-tel-popup {
    cursor: pointer;
}


.menu a {
    color: #E9D4B4;
}

.popup-overlay {
    height: 100%;
    overflow-y: scroll;
    z-index: 200;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.popup-overlay::-webkit-scrollbar{
    display: none;
}

jdiv {
    display: block;
}

.container-404 {padding-top: 20rem;text-align: center;color: grey;}

.container-404__code {
    font-size: 20rem;
}

.container-404__text {
    font-size: 2rem;
    padding: 20px 0 30px 0;
}

.container-404__quote {
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 60px 0;
}


@media (max-width: 1060px) {
    main {
        margin-top: 19vw;
    }
    .desktop {
        display: none;
    }

    jdiv {
        display: none!important;
    }

    .mobile {
        display: block
    }

    html {
        font-size: 1vw;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    .header-container {
        display: flex;
        width: 100rem;
        height: 19rem;
        margin: auto;
        padding: 5rem;
        box-sizing: border-box;
    }

    img.header-logo{
        width: 34.6rem;
        height: 9rem;
    }


    .phone-mobile {
        color: #E9D4B4;
        font-size: 4rem;
        font-weight: 500;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        z-index: 5;
        top: 22rem;
        right: 5rem;
        text-align: right;
    }

    .mobile-menu > * {
        display: block;
        font-family: 'Oswald', serif;
        color: #E9D4B4;
        text-transform: uppercase;
        margin-bottom: 5.8rem;
        font-size: 4rem;
    }

    .active {
        display: block;
    }

    .popup-phone, .popup-thanks {
        width: 60rem;
        height: 40rem;
        gap: 8rem;
    }


    .popup-phone .button {
        border-radius: 12rem;
        width: 50rem;
        height: 8rem;
        font-size: 5rem;
        line-height: 5rem;
    }
    .popup-thanks {
        font-size: 3rem;
    }

    .popup-phone .tel {
        width: 50rem !important;
    }
    .whatsapp-popup {
        position: fixed;
        bottom: 5em;
        height: 18rem;
        width: 18em;
        right: 5em;
        z-index: 100;
    }

    .whatsapp-popup img {
        max-width: 100%;
        max-height: 100%;
    }


}
