.contacts {
    padding: 97px 0 97px 0;
}

.contacts__title {
    font-size: 34px;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 3;
    text-transform: uppercase;
}

.contacts-block__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 596px;
}

.contacts__column-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 82px;
}

.contacts__messengers-items {
    width: 36px;
    height: 36px;
}

.contacts__item-address {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacts__item-messengers {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacts__list-item {
    font-size: 24px;
    font-weight: 500;
}

.contacts__messengers-items {
    margin-right: 31px;
}

.contacts__column-map {
    background-size: contain;
    width: 350px;
    height: 330px;
}


.contacts__column-map iframe {
    width: 350px;
    height: 330px;
}

@media (max-width: 1080px) {
    .contacts {
        padding: 10rem 0;
    }

    .contacts__title {
        font-size: 5rem;
        font-weight: 700;
    }

    .contacts-block__container {
        display: block;
        margin: 5rem!important;
        width: auto !important;
    }

    .contacts__column-contacts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem 8rem;
        line-height: 6rem;
    }

    .contacts__messengers-items {
        width: 8rem;
        height: 8rem;
        margin-left: 5rem;
    }

    .contacts__item-address {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .contacts__item-messengers {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .contacts__list-item {
        font-size: 3.5rem;
        font-weight: 300;
    }

    .contacts__messengers-items {
        margin-right: unset;
    }

    .contacts__column-map {
        background-size: contain;
        width: 90rem;
        height: 80rem;
        margin-top: 5rem;
    }


    .contacts__column-map iframe {
        width: 90rem;
        height: 80rem;
    }

}