.contacts {
    padding: 97px 0 97px 0;
}

.contacts__title {
    font-size: 34px;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 3;
    text-transform: uppercase;
}

.contacts-block__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 596px;
}

.contacts__column-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 82px;
}

.contacts__messengers-items {
    width: 36px;
    height: 36px;
}

.contacts__item-address {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacts__item-messengers {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacts__list-item {
    font-size: 24px;
    font-weight: 500;
}

.contacts__messengers-items {
    margin-right: 31px;
}

.contacts__column-map {
    background-size: contain;
    width: 350px;
    height: 330px;
}


.contacts__column-map iframe {
    width: 350px;
    height: 330px;
}

@media (max-width: 1080px) {
    .contacts-block__container{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .contacts__column-map {
        background-size: contain;
        width: 800px;
        height: 600px;
    }

    .contacts__column-map iframe {
        width: 100%;
        height: 600px;
    }
}