.package {
    background-image: radial-gradient(57.71% 48.84% at 65.52% 60.57%, #9C511E 0%, #491F0B 100%);
    overflow: hidden;
}

.package__container {
    padding-top: 214px;
    padding-bottom: 165px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.package-list {
    width: 400px;
}

.package-images {
    position: relative;
    width: 400px;
}

.package-images__image {
    position: absolute;
    top: 0;
    left: 0;
}

.package-images__image-main {
    position: absolute;
    top: 0;
    left: -40px;
    height: 1703px;
    width: 456px;
}

.package-images__image-net {
    top: 1470px;
    left: -330px;
    height: 220px;
    width: 220px;
}

.package-images__image-carga {
    top: 1400px;
    left: -330px;
    height: 330px;
    width: 330px;
}

.package-images__image-silicon {
    top: 1500px;
    left: 230px;
    height: 92px;
    width: 332px;
}

.package-images__image-bottom {
    top: 1300px;
    left: -270px;
    height: 203px;
    width: 330px;
}

.package-list__title {
    margin-bottom: 70px;
    font-size: 47px;
    font-weight: 600;
    color: #E9D4B4;
}

.package-list ul {
    list-style: none;
    padding: 0
}

.package-list__item {
    padding: 0;
    margin-bottom: 21px;
    font-size: 22px;
    font-weight: 600;
    color: #EAD6B7;
    cursor: pointer;
}

.package-list__item-feature {
    display: block;
    margin-left: 46px;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    opacity: 0.7;
}

.hint-number {
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 16px;
    background-color: #B77438;
    color: #521001;
    font-size: 17px;
    text-align: center;
    font-weight: 900;
    line-height: 31px;
}
.package-list__item .hint-number {

    position: relative;
    top: -3px;
    left: -10px;
}


.hint-number.hover, .hover .hint-number {
    background-color: white;
    color: #521001;
}

.package-images__hint {
    position: absolute;
    transition: .5s;
}

.package-images__hint.hover {
    position: absolute;
    scale: 1.6;
}

.package-images__hint.selected {
    scale: 1.6;
    background-color: white;
}


.package-images__hint-1 {
    top: -34px;
    left: 15px;
}

.package-images__hint-2 {
    top: 47px;
    left: -65px;
}

.package-images__hint-3 {
    top: 200px;
    left: -20px;
}

.package-images__hint-4 {
    top: 395px;
    left: 80px;
}

.package-images__hint-5 {
    top: 480px;
    left: -10px;
}

.package-images__hint-6 {
    top: 534px;
    left: 88px;
}

.package-images__hint-7 {
    top: 540px;
    left: 260px;
}


.package-images__hint-8 {
    top: 676px;
    left: 226px;
}

.package-images__hint-9 {
    top: 713px;
    left: 79px;
}

.package-images__hint-10 {
    top: 793px;
    left: 304px;
}

.package-images__hint-11 {
    top: 933px;
    left: 103px;
}

.package-images__hint-12 {
    top: 979px;
    left: 101px;
}

.package-images__hint-13 {
    top: 951px;
    left: 348px;
}

.package-images__hint-14 {
    top: 1207px;
    left: -10px;
}

.package-images__hint-15 {
    top: 1222px;
    left: 319px;
}

.package-images__hint-16 {
    top: 1364px;
    left: -230px;
}

.package-images__hint-17 {
    top: 1415px;
    left: 351px;
}

.package-images__hint-18 {
    top: 1515px;
    left: -138px;
}

.package-images__hint-19 {
    top: 1615px;
    left: -270px;
}


.package-images__hint-20 {
    top: 1595px;
    left: 92px;
}
.package-images__hint-21 {
    top: 1701px;
    left: 30px;
}

.package-images__hint-22 {
    top: 1569px;
    left: 440px;
}


@media (max-width: 1060px) {

    .package__container {
        padding-top: 0;
        padding-bottom: 63rem;
        /* overflow: hidden; */
    }

    .package-list {
        width: 59rem;
        margin-left: 5.3rem;
        margin-top: 42.4rem;
    }

    .package-list__title {
        padding: 24rem 15.4rem 8.1rem 5.3rem;
        font-size: 6.2rem;
        background-color: rgba(40, 3, 0, .4);
        width: auto;
        position: absolute;
        left: 0;
        top: -7.3rem;
    }

    .package-images {
        width: auto;
    }

    .package-images__image {
        position: absolute;
        top: 0;
        left: 0;
    }

    .package-images__image-main {
        position: absolute;
        top: 45rem;
        left: -49rem;
        height: 166rem;
        width: 44.5rem;
    }

    .package-images__image-net {
        top: 234rem;
        left: -86rem;
        height: 26rem;
        width: 28rem;
    }

    .package-images__image-carga {
        top: 227rem;
        left: -86rem;
        height: 34rem;
        width: 37rem;
    }

    .package-images__image-silicon {
        top: 240rem;
        left: -43rem;
        height: 10.5rem;
        width: 37rem;
    }

    .package-images__image-bottom {
        top: 219rem;
        left: -54rem;
        height: 31rem;
        width: 46rem;
    }

    .package-list ul {
        font-family: Oswald, serif;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 173rem;
        justify-content: space-between;
    }

    .package-list__item {
        padding: 0;
        margin-bottom: 0;
        font-size: 3.5rem;
    }

    .package-list__item-feature {
        display: block;
        margin-left: 6rem;
        font-size: 3rem;
        line-height: 3.4rem;
        opacity: 0.7;
        font-weight: 200;
        /* font-family: 'Montserrat', serif; */
    }

    .hint-number {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
        font-size: 2rem;
        line-height: 3rem;
        margin-right: 2rem;
        font-family: 'Montserrat', serif;
        font-weight: 900;
    }

    .hint-number.hover, .hover .hint-number {
        background-color: white;
        color: #521001;
    }

    .package-images__hint {
        position: absolute;
        transition: .5s;
    }

    .package-images__hint.hover {
        position: absolute;
        scale: 1.6;
    }

    .package-images__hint.selected {
        scale: 1.6;
        background-color: white;
    }


    .package-images__hint-1 {
        top: 41rem;
        left: -44rem;
    }

    .package-images__hint-2 {
        top: 50rem;
        left: -39rem;
    }

    .package-images__hint-3 {
        top: 65rem;
        left: -49rem;
    }

    .package-images__hint-4 {
        top: 83rem;
        left: -51rem;
    }

    .package-images__hint-5 {
        top: 92rem;
        left: -46rem;
    }

    .package-images__hint-6 {
        top: 97rem;
        left: -37rem;
    }

    .package-images__hint-7 {
        top: 97rem;
        left: -20rem;
    }

    .package-images__hint-8 {
        top: 111rem;
        left: -24rem;
    }

    .package-images__hint-9 {
        top: 114rem;
        left: -37rem;
    }

    .package-images__hint-10 {
        top: 121rem;
        left: -17rem;
    }

    .package-images__hint-12 {
        top: 142rem;
        left: -37rem;
    }

    .package-images__hint-11 {
        top: 132rem;
        left: -37rem;
    }

    .package-images__hint-13 {
        top: 138rem;
        left: -12rem;
    }

    .package-images__hint-14 {
        top: 165rem;
        left: -50rem;
    }

    .package-images__hint-15 {
        top: 164rem;
        left: -13rem;
    }

    .package-images__hint-16 {
        top: 229rem;
        left: -47rem;
    }

    .package-images__hint-17 {
        top: 185rem;
        left: -10rem;
    }

    .package-images__hint-18 {
        top: 233rem;
        left: -68rem;
    }

    .package-images__hint-19 {
        top: 251rem;
        left: -79rem;
    }

    .package-images__hint-20 {
        top: 199rem;
        left: -36rem;
    }

    .package-images__hint-21 {
        top: 211rem;
        left: -45rem;
    }

    .package-images__hint-22 {
        top: 249rem;
        left: -21rem;
    }
}