
/* ----------------------- POLL -------------- */
.poll {
    padding: 90px 0 68px 0;
    background: radial-gradient(70% 40% at 81% 50%, rgba(100, 100, 100, 0.1) 38.54%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to bottom,transparent 83%, #3c0c02 30%) top   /100% 100% no-repeat, #521001;
}

.poll__title {
    text-align: center;
    font-size: 55px;
    color: #E9D4B4;
}

.poll__comment {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #E9D4B4;
}

.poll-questioner__question {
    padding: 50px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 37px;
    color: #E9D4B4;
    margin-top: 18px;
}
.poll-questioner__question b {
    margin-right: 35px;
}

.poll-questioner__answers ul {
    width: 300px;
    /* margin: 40px auto 60px auto!important; */
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto!important;
    margin-right: auto;
    color: #E9D4B4;
    font-size: 22px;
    line-height: 53px;
}

.poll-questioner__answers .selected,
.poll-questioner__answer:hover {
    background-color: rgba(42, 11, 0, 1);
}

li.poll-questioner__answer:before {
    padding-top: 0.6em;
}

.poll-button {
    margin: auto;
    display: block;
}

.poll-questioner li.poll-questioner__answer {
    padding-left: 3.6em;
    cursor: pointer;
}

.poll-questioner li.poll-questioner__answer:before {
    left: 2em;
}

@media (max-width: 1060px) {
    .poll__title {
        font-size: 7rem;
        margin-inline: 10rem;
    }

    .poll__comment {
        margin: 5rem 12rem;
        font-size: 3.5rem;
    }

    .poll-questioner__question {
        padding: 5rem 20rem;
        font-size: 4rem;
    }

    .poll-questioner__question b {
        display: block;
    }

    .poll-questioner__answers ul {
        width: 50rem;
        font-size: 3.5rem;
        line-height: 8rem;
        margin-bottom: 10rem;
    }

    .poll-button.button {
        width: 50rem;
        height: 7rem;
        font-size: 4rem;
        line-height: 5rem;
        border-radius: 4rem;
    }

    .poll {
        padding-top: 23rem;
        padding-bottom: 25rem;
        background: radial-gradient(70% 40% at 81% 50%, rgba(100, 100, 100, 0.1) 38.54%, rgba(0, 0, 0, 0) 100%),    linear-gradient(to bottom,transparent 76%, #3c0c02 30%) top   /100% 100% no-repeat, #521001;
    }

}