section#audience {background-color: var(--main-dj-color);}

.audience__container {
    text-align: center;
    padding: 36px 0;
}

.audience__title {color:  white;margin: 0 0 35px 0;}

.audience__platforms {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.audience__platform-img {
    height: 60px;
}

@media (max-width: 1080px){
    .audience {
        margin: 0;
    }

    .audience__container.container {
        padding: 10rem 0;
    }

    .audience__title {
        margin-bottom: 11rem;
    }

    .audience__platforms {
        column-gap: 10rem;
        row-gap: 10rem;
        flex-flow: row wrap;
    }

    .audience__platform {
        min-width: 22rem;
    }

    .audience__platform-img {
        height: 10rem;
    }

    .audience__platform:first-child .audience__platform-img {
        height: 6rem;
    }

    .audience__platform-img img {
        height: 100%;
    }

    .audience__platform-text {
        margin-top: 2rem;
        font-size: 3rem;
    }
}